html {
  background-image: url("space.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;;
  width: 100%;
  height: 100%;
}

body {
  vertical-align: middle;
}

.fa-cog {
  color: #f4f5f9;
}

.icon-cog {
  color: #f4f5f9;
}

h1 {
  color: #f4f5f9;
  font-family: 'Open Sans', sans-serif;
  font-size: 70px;
  text-align: center;
  letter-spacing: 5px;
}

p {
  color: #f4f5f9;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-align: center;
  letter-spacing: 2px;
  padding-left: 5%;
  padding-right: 5%;
}
